<div class="container" fxLayout="column" fxLayoutGap="10px">


  <div fxFlex>

    <div>
      <h3>Menu</h3>
    </div>


  </div>
  <!--will only show the dish image when the dishes in menu component.ts in not empty,the dishes will get value only when promise is resolved-->
  <div fxFlex *ngIf="dishes">
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]">
        <img height="200px" src="{{BaseUrl + dish.image}}" alt="image not found">

        <mat-grid-tile-footer>

          <h1 matLine> {{dish.name | uppercase}} </h1>

        </mat-grid-tile-footer>

      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div fxFlex [hidden] = "dishes">     <!--when the dishes is empty that is opposite of the above div loading spinnner will be shown -->
    <mat-spinner></mat-spinner> <h4>loading..........Plese wait</h4>
  </div>



</div>
